@font-face {
  font-family: Butler;
  src: url("../fonts/Butler/Butler_Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: Butler;
  src: url("../fonts/Butler/Butler_Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: Butler;
  src: url("../fonts/Butler/Butler_Light.otf");
  font-weight: 300; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h5 {
  text-transform: uppercase;
  letter-spacing: 1px; }

p :first-child {
  margin-top: 0; }

p :last-child {
  margin-bottom: 0; }

.site {
  margin: 0 auto; }
  .site-header {
    background-color: #e0e2db;
    color: black;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 1024px;
    padding: 1em; }
    .site-header-title {
      font-family: "Butler", serif;
      font-size: 2em;
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
      .site-header-title a {
        text-decoration: none !important;
        color: #90091f; }
    .site-header-nav {
      flex: 1 0 auto; }
      .site-header-nav .menu {
        padding: 0; }
        .site-header-nav .menu-item {
          display: block;
          margin: 1em;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase; }
          .site-header-nav .menu-item > a {
            text-decoration: none !important;
            color: #90091f; }
  .site-footer {
    margin: 0 auto;
    max-width: 1024px;
    padding: 1em;
    background: #e0e2db;
    text-align: center; }
    .site-footer-copyright {
      font-size: .8em;
      font-weight: 300; }

.page-header-title {
  font-size: 1.6em;
  color: #666;
  text-align: center;
  margin: .2em auto; }

.page-content {
  max-width: 1024px;
  margin: 0 auto; }
  .archive .page-content {
    flex-wrap: wrap;
    justify-content: center; }

.page-article {
  padding: 1em; }
  .page-article-container {
    flex: 1 0 auto; }
  .page-article h1, .page-article h2, .page-article h3, .page-article h4, .page-article h5, .page-article h6 {
    margin: 4px 0; }
  .page-article h3 {
    padding-bottom: 4px;
    font-size: 1.4em;
    font-family: "Butler", serif;
    font-weight: 700;
    border-bottom: 2px solid #90091f; }
  .page-article-excerpt {
    color: black; }
    .page-article-excerpt p {
      margin: 0;
      line-height: 1.4; }
  .home .page-article {
    color: #90091f;
    background: #e0e2db;
    padding: 1em;
    margin: 1em 0; }
  .archive .page-article {
    width: 329.33333px;
    flex-flow: row-wrap;
    max-width: 100%;
    text-align: center;
    background: #666;
    padding: 2em;
    min-height: 200px;
    margin: 6px auto; }
  .page-article-title {
    font-family: "Butler", serif;
    font-size: 1.4em; }
    .page-article-title a {
      color: #e0e2db;
      text-decoration: none; }
      .page-article-title a:hover {
        text-decoration: underline; }
      .home .page-article-title a {
        color: #666; }
    .home .page-article-title {
      margin: 0 0 1em; }
  .page-article-date {
    color: #e0e2db; }
    .home .page-article-date {
      color: #666;
      font-weight: bold;
      margin-top: 1em;
      display: block; }

.page-sidebar {
  padding: 1em 2em;
  background: #e0e2db;
  margin: 1em 0; }

@media only screen and (min-width: 768px) {
  .site-header {
    display: flex;
    align-items: center; }
    .site-header-nav .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .site-header-nav .menu-item {
        margin: 0 1em; }
  .page-content {
    display: flex; }
  .page-sidebar {
    width: 300px;
    flex: 0 0 auto;
    margin-left: 1em; }
  .page-article-container {
    flex: 0 1 auto; } }
