
//sizes
$site-width: 1024px;

//colors

$red-color: #90091f;
$blue-color: blue;
$light-gray-color: #e0e2db;
$dark-gray-color: #666;
$brown-color: #bcae8c;

$default-background: $light-gray-color;

$header-background: $light-gray-color;
$widget-background: $light-gray-color;
$article-background: $light-gray-color;
$footer-background: $light-gray-color;
$site-accent: $red-color;


//fonts
$serif: "Butler", serif;
$sans-serif: "Open Sans", sans-serif;
