.site {
  &-header {
    display: flex;
    align-items: center;
    &-nav {
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &-item {
          margin: 0 1em;
        }
      }
    }
  }
}
