.site {
  &-header {
    display: flex;
    align-items: center;
    &-nav {
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &-item {
          margin: 0 1em;
        }
      }
    }
  }
}
.page {
  &-content {
    display: flex;
  }
  &-sidebar {
    width: 300px;
    flex: 0 0 auto;
    margin-left: 1em;
  }
  &-article {
    &-container {
      flex: 0 1 auto;
    }
  }

}
