//fonts
@font-face {
  font-family: Butler;
  src: url('../fonts/Butler/Butler_Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: Butler;
  src: url('../fonts/Butler/Butler_Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Butler;
  src: url('../fonts/Butler/Butler_Light.otf');
  font-weight: 300;
}

//elements

body {
  font-family: $sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

//styling
.site {
  margin: 0 auto;

  &-header {
    background-color: $header-background;
    color: black;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: $site-width;
    padding: 1em;

    &-title {
      font-family: $serif;
      font-size: 2em;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      
      a {
        text-decoration: none !important;
        color: $site-accent;
      }
    }

    &-nav {
      flex: 1 0 auto;

      .menu {
        padding: 0;

        &-item {
          display: block;
          margin: 1em;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;

          > a {
            text-decoration: none !important;
            color: $site-accent;

          }
        }
      }
    }
  }
}
.page {
  &-header {
    &-title {
      font-size: 1.6em;
      color: $dark-gray-color;
      text-align: center;
      margin: .2em auto;
    }
  }
  &-content {
    max-width: $site-width;
    margin: 0 auto;

    .archive & {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &-article {
    padding: 1em;

    &-container {
      flex: 1 0 auto;
    }

    &-excerpt {
      color: black;

      p {
        margin: 0;
        line-height: 1.4;
      }
    }

    .home & {
      color: $site-accent;
      background: $article-background;
      padding: 1em;
      margin: 1em 0;
    }

    .archive & {
      width: $site-width/3 - 12px; 
      flex-flow: row-wrap;
      max-width: 100%;
      text-align: center;
      background: $dark-gray-color;
      padding: 2em;
      min-height: 200px;
      margin: 6px auto;
    }
    &-title {
      font-family: $serif;
      font-size: 1.4em;
      
      a {
        color: $light-gray-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        .home & {
          color: $dark-gray-color;
        }
      }

      .home & {
        margin: 0 0 1em;
      }
    }
    &-date {
      color: $light-gray-color;

      .home & {
        color: $dark-gray-color;
        font-weight: bold;
        margin-top: 1em;
        display: block;
      }
    }
  }
  &-sidebar {
    padding: 1em 2em;
    background: $widget-background;
    margin: 1em 0;
  }
}
